[2020-10-02 08:42] TheFausap opened #1 "cortexjobs command fail"
Hello,
I configured the app in Splunk 7.x but I have an error about a missing module ctypes.
I tried to run the command "cortexjobs" and I got this in the job log

[code]

Do I have to add this module manually?

thanks,
Fausto

[2020-10-02 10:15] LetMeR00t commented on #1
Hi @TheFausap,
Thank you for creating this issue
Can you provide me more information about your Splunk instance ?
This application is used on my testing environment and on a live environment and I didn't see this issue anytime.

A new version will come soon with the integration of  TheHive and a review of the internal behavior. I will take into account to have this library included if there is no

[2020-10-02 11:44] TheFausap commented on #1
Hi @LetMeR00t
I am using Splunk 7.3.6 (under CentOS) with the python 2.7 shipped withing the installation.
I "fixed" the error with a manual install of ctypes modules in the app "lib" directory, but I got an exception

[code]
I checked the Cortex API and it's working properly, so maybe this is a problem with the python version.

thanks,
Fausto

[2020-10-02 12:19] LetMeR00t commented on #1
The warning message is not an issue as the cortex4py was designed for python 3.x by default and I modified it to be able to run under python 2.x
Problem here is that it's the cortex library that seems to have an issue. Could you give me your setup of TheHive/Cortex ?

[2020-10-02 12:21] TheFausap commented on #1
I didn't setup TheHive/Cortex, I am using an already existing installation. If you need something specific, I can ask.
The API is working on HTTPS protocol on port 443, but there's a reverse proxy in front of the server. I don't know if this can create some issues.

[2020-10-02 12:22] LetMeR00t commented on #1
Do you mean that you are using an online version of Cortex that I can reach to perform some tests on it ?

[2020-10-02 12:25] TheFausap commented on #1
No it's a local installation, in our internal network. Could this happen due to some untrusted certificate, because I am using https? If I try the job API with curl, for example, I have to specify the "-k" option, in order to skip the cert verification.

[2020-10-02 12:30] LetMeR00t commented on #1
If this is the case, you should try to perform the same requests using only the 80 port if it's possible.

[2020-10-02 12:39] TheFausap commented on #1
What I cannot understand why it's calling a do_post

`10-02-2020 14:32:07.356 ERROR ScriptRunner - stderr from '/opt/splunk/bin/python /opt/splunk/etc/apps/TA_cortex/bin/cortex_jobs.py':      return self._api.do_post(url, {'query': query or {}}, params).json()`

the command cortexjobs should return all the jobs, so it should be a GET call.
If, for example, I run `curl -k -H 'Authorization: Bearer

[2020-10-02 12:59] LetMeR00t commented on #1
@TheFausap ,
It's not a GET request :) When I think about this app, I choose to recover all analyzers when the authentication is done.
To do so, I use a POST request to request all analyzers with an empty filter (so there is a parameter "filter" sent and that's why it's a POST request).
Do you have access to a Wireshark software for doing a capture on the network and see what we can find ? (you wi

[2020-10-02 13:11] TheFausap commented on #1
ok, now I understood the confusion. Because when I tried the API to get the analyzer, I used this API call
curl -H 'Authorization: Bearer **API_KEY**' 'https://CORTEX_APP_URL:443/api/analyzer', so the confusion between POST and GET.
It seems, anyway, not an issue with the certificate, because I modified the requests calls with a verify=False, and I get the same error.
Maybe my account doesn't have

[2020-10-02 13:14] LetMeR00t commented on #1
In this case, I assume you would have an empty response from Cortex ...
When you are on Cortex, you should see your analyzers and if it's the case, as you have the same rights using the API, it should not be a problem.

[2020-10-02 13:23] TheFausap commented on #1
I checked with postman calling the api/analyzer query and I got the results, but I used the GET call. I want to test your way with POST, maybe there's some problem in our Cortex implementation.
Are you using this kind of call?
[code]

[2020-10-02 13:27] TheFausap commented on #1
Ok, if I use the GET to have the list of the enabled analyzers, this is working. With the POST, I have this error

A client error occurred on POST /api/analyzer/_search : No CSRF token found for application/json body

[2020-10-02 13:35] TheFausap commented on #1
https://github.com/TheHive-Project/TheHive/issues/537

[2020-10-05 06:11] TheFausap commented on #1
Anyway I did some tests with Postman and I was able to perform a POST request (with the reverse proxy in front) disabling the cookie jar, and deleting all the cookies that were existing in the query. So if you could modify the code disabling the cookie jar and preventing adding cookies in the first request, this should work.

[2020-10-05 06:44] LetMeR00t commented on #1
Hi
I’m not sure to catch everything here
You are asking me to prevent to add cookies to the first POST request so the request that is performing the authentication or the one for getting analyzers ?
Anyway, you have to specify the cookies (at least the session cookie) to access to these information right ?
Are you saying that there is one cookie at least which cause this issue ?
In all these case

[2020-10-05 07:12] TheFausap commented on #1
Hello,

yes, you are correct, the problem is in the API library itself.
Just a quick recovery action, I was thinking to force the POST request to
disable cookie-jar and manage cookies at all, like I did in Postman.

[image: image.png]

On Mon, Oct 5, 2020 at 8:44 AM LmR <notifications@github.com> wrote:

[2020-11-09 10:47] danblae opened #2 "Stuck in Configuration Loading"
Hello,

I have cortex app freshly installed on a local 8.1.0 Splunk and when I try to go to configuration it gets stuck in a loading screen.

I have tried to figure out a work-around by just putting the API-Key and the Login directly into a config file, but I am not sure where and how to put it. I have also tried to debug splunk to see if splunk fails to load any file, but I did not see anything t

[2020-11-09 12:41] LetMeR00t commented on #2
Hi,
Did you already have the same issue with a previous version of Splunk ?
Did you have any issue related to this application in your $SPLUNK_HOME/var/log/splunk/splunkd.log ?

[2020-11-09 17:15] LetMeR00t commented on #2
Hi @danblae ,
After testing the app on the 8.1.0 version of Splunk, it doesn’t worked.
I’m completely reviewing my code to build it with the App Builder Add-on.
Tomorrow a new working version will be ready I hope to resolve this issue :)

[2020-11-09 17:25] danblae commented on #2
Thanks @LetMeR00t !

I have also just tried to use 8.0.0 and it works just fine there. Thanks for this awesome tool!

(I will close the issue because I think it will be resolved soon or older versions of Splunk can be used.)

[2020-11-09 17:25] #2 closed

[2020-11-10 15:23] LetMeR00t commented on #2
@danblae ,
Just for your information, I'm working on the new version of the application. I will not be able to publish it today I think because I have to review some new functionalities and the documentation (I will add the possibility to use TheHive).
However, I will work on it this week and it will be available very soon.
Thank you for your understanding.

[2020-11-10 15:43] danblae commented on #2
Thanks a lot, the info and your time. The help, that an older version of Splunk fixes the problem temporarily helped me out a lot already.

[2020-11-13 09:39] LetMeR00t commented on #2
Hi @danblae ,
The older version of this app was archived.
The new one was accepted on the splunkbase : https://splunkbase.splunk.com/app/5329/

[2020-11-16 19:43] remg427 opened #4 "Inputs keep loading"
hello,
On tab inputs, loading does not complete (splunk 8.1)
btw would it be possible to merge my app into yours?
Remi

[2020-11-16 22:50] LetMeR00t commented on #4
Hi @remg427,
I’ve also noticed that you updated your application :)

Concerning the problem, what is the version of your Splunk instance ?
How did you install it ? Using the Splunkbase or the SPL file or the tar.gz file ?
Is the configuration page working ?
On your inputs page, could you check with the developer tool which request is not working well (probably a 404 error) and how many errors do y

[2020-11-17 05:59] remg427 commented on #4
Hi,
I downloaded from splunkbase and installed from a file. After restart I get this message
Unable to initialize modular input "thehive_supervisor" defined in the app "TA-thehive-cortex": Introspecting scheme=thehive_supervisor: script running failed (exited with code 1).. 11/17/2020, 5:44:06 AM
and in logs error 404
solnlib.packages.splunklib.binding.HTTPError: HTTP 404 Not Found -- {"messages":

[2020-11-17 07:22] LetMeR00t commented on #4
Hi,
It's weird, this application is created with the App Builder on a Splunk instance with 8.1 version. I've just tried to install it from the splunkbase using a Splunk version 8.0.2 and it's working.
I will try again on the 8.1 this afternoon.
I say that this is weird because the cortex input is the same kind of inputs (with different fields names) and this one is working (I had the same issue us

[2020-11-18 14:15] danblae opened #5 "Unable to load input"
Hey,
I am unable to load the input page, just like for the Cortex app. I then tried to use different Splunk version (8.1.0, 8.0.0, 7.3.0) but every time it does not load. The "good" thing is, that I get an error message from splunk:

I have also followed all the steps in the Installation and quick start guide. Searching for this issue did not help either because the app is too new. Do you have any

[2020-11-18 16:57] LetMeR00t commented on #5
Hi
This issue is the same kind than #4
I can’t reproduce this thing on my side using different versions of Splunk .
This is weird but something tells me that I probably missing some libraries used by the thehive4py library.
I will do another test on my side with a Splunk not running on my Linux instance to see if something changed
Could you try to run a TheHive custom command (with logging set to

[2020-11-18 16:58] LetMeR00t commented on #4
@remg427 ,
I proposed a new test for investigating the issue on #5 , could you check his test on your side too ?

[2020-11-18 18:57] LetMeR00t commented on #5
I've reinstalled it on a different OS and now I have the issue.
After investigation, it seems that there are some issues with a missing library used by the python library named "magic". It seems that it's missing the libraries cffi, pycparser ... (I run the test I explained you on the previous comment)
I don't understand why it's working on my side as they are not installed using pip and Splunk do

[2020-11-18 19:33] danblae commented on #5
Could you maybe give me a list of libraries used by your tool so that I could try installing them manually?

[2020-11-18 19:41] LetMeR00t commented on #5
@danblae , I found out what was the issue.
I'm using an incomplete python library "magic".
I've just solved the issue on my new instance, I will push the changes right now to see if it's working better for you.

[2020-11-18 20:32] LetMeR00t commented on #4
Hi @remg427 ,

Could you install the new version of the app (1.1.2) and see if the bug is resolved ?

Thank you

[2020-11-18 20:32] LetMeR00t commented on #5
Hi @remg427 ,

Could you install the new version of the app (1.1.2) and see if the bug is resolved ?

Thank you

[2020-11-18 21:00] danblae commented on #5
I send this from my phone. I will test it first thing tomorrow. I can not do it right now. Thanks a lot!

[2020-11-19 08:50] danblae commented on #5
I have tried the new version and I get the same error. I forgot to mention, that I am running Splunk on a docker container with the WSL2 Linux Kernel on a Windows machine (I hope that helps). I am uncertain on how to actually get TheHive into debug under docker

Maybe you have some advice. I would love to help resolve this issue.

[2020-11-19 10:07] LetMeR00t commented on #5
It seems that on a Windows instance it worked for me x)
Well, to do so :
1) Open the application in Splunk
2) Go to "Configuration" on the navigation bar then under "Logging", set the parameter to "DEBUG".
3) Click on "TheHive: Cases" on the navigation bar
4) Open the search once it ran that list all the cases issues. You should see something with :
[code]
5) You can remove everything after the cu

[2020-11-19 10:11] LetMeR00t commented on #4
Hi @remg427 ,
I propose you to follow the #5  issue
I close this issue as it's a duplicate.

[2020-11-19 10:11] #4 closed

[2020-11-19 11:11] LetMeR00t commented on #5
The issue is here :

11-19-2020 10:40:35.781 ERROR ScriptRunner - stderr from '/opt/splunk/bin/python3.7 /opt/splunk/etc/apps/TA-thehive-cortex/bin/thehive_search_cases.py':    File "/opt/splunk/etc/apps/TA-thehive-cortex/bin/thehive_search_cases.py", line 6, in <module>
11-19-2020 10:40:35.781 ERROR ScriptRunner - stderr from '/opt/splunk/bin/python3.7 /opt/splunk/etc/apps/TA-thehive-cortex/bin/t

[2020-11-19 12:24] LetMeR00t commented on #5
First results of my investigation is that my last fix is not working for you and the reason is because I have the libmagic library inside a DLL file and when python detects that it's running on a Windows instance, it's using the DDL.
However, in our case, we are running under Linux :)
I will keep searching a solution.

[2020-11-19 12:56] LetMeR00t commented on #5
As this library is not used and will not used by the Splunk app, I will make some changes to remove the usage of the magic library.
It's not a lot of lines so I will do it to let you have a working application.
I'm changing the things and keep you in touch once you can test it.

[2020-11-19 13:40] LetMeR00t commented on #5
@danblae , @remg427,
A new version is available.
It's working on my docker 👍
Could you check again please ?

[2020-11-19 13:47] danblae commented on #5
the new version (1.1.3) resolved the issue for me and even runs on the latest Splunk version. Thanks!

[2020-11-19 13:47] #5 closed

[2020-12-17 07:48] datkps17 commented on #1
i have the same issue, thehivecase and cortexjobs tab not working, 'External search command 'thehivecases' returned error code 1. '. Does anyone can help me ?

[2020-12-17 11:51] LetMeR00t commented on #1
Hi
The issue was resolved on another issue
Could you precise the TA version and your OS environment ?
Thank you

[2020-12-18 01:59] datkps17 commented on #1
OS: Ubuntu 18.04 , begin i used newest version TA 1.1.3 but both 'thehivecases' and 'cortexjobs' returned error code 1, after i installed 1.1.1 , 'cortexjobs' working but 'thehivecases' returned error

[2020-12-18 06:33] LetMeR00t commented on #1
I recommend you to only work with the 1.1.3
Did you fill all the information in the configuration page ? And then did you add your inputs for each of your instance ?
if so, please run a search then when you have the error, open the job.log and see at the end of the message if you have any python error and copy paste it here
Thank you

[2020-12-18 07:00] datkps17 commented on #1
i filled all the information . so, cortexjobs search return correct result. when run thehivecases search, it returned error code.
tail -f /opt/splunk/var/log/splunk/command_thehive_cases.log
2020-12-18 04:20:00,118 INFO    thehive_search_cases:21 - Found parameter "keyword"=*
2020-12-18 04:20:00,118 INFO    thehive_search_cases:21 - Found parameter "status"=*
2020-12-18 04:20:00,118 INFO    thehiv

[2020-12-18 07:09] LetMeR00t commented on #1
Could you rerun the test but setting the DEBUG mode to logging (under the Configuration page) ?
For now and from what I see, the script is working well but it’s maybe the HTTP response that have an issue.
which version of TheHive do you have ?

[2020-12-18 07:28] datkps17 commented on #1
i used TheHive 4.0.2-1

[2020-12-18 07:37] datkps17 commented on #1
i have set debug mode and rerun the search, Everything seems to be working properly. but splunk search not return result
2020-12-18 07:31:28,832 DEBUG   common:45 - LEVEL changed to DEBUG according to the configuration
2020-12-18 07:31:28,877 INFO    thehive_search_cases:28 - Parameter "keyword" not found, using default value="*"
2020-12-18 07:31:28,877 INFO    thehive_search_cases:28 - Parameter

[2020-12-18 08:19] LetMeR00t commented on #1
Hi
Do you have an example of your search ?
is the TheHive dashboard (navigation bar) working ?

[2020-12-18 08:36] datkps17 commented on #1
i try search :
| makeresults
| thehivecases
it returned error. TheHive dashboard not working. cortexjobs search and dashboard working properly

[2020-12-18 09:26] LetMeR00t commented on #1
You said that the script raised an error code when your ran the command ... that’s right ?
the search have an error right ? If so, you must have a python error in your job.log after the logs you sent me ...

[2020-12-18 10:23] datkps17 commented on #1
when search splunk with query above, i think python has no error and return result as log. But splunk returned 'External search command 'thehivecases' returned error code 1.'
Here is splunkd.log
12-18-2020 10:15:23.560 +0000 WARN  HttpListener - Socket error from 127.0.0.1:55718 while accessing /servicesNS/nobody/TA-thehive-cortex/storage/collections/data/kv_cortex_analyzers/: Connection closed by

[2020-12-18 11:02] LetMeR00t commented on #1
This is not an error message but a warning one.
If the search is saying that an error occurred, then you should have an error message in the job.log.
Be sure to check the job log and not the file having the script logs only.
Could it be possible for you to send me the job.log by email at letmer00t@gmail.com ?

[2021-01-07 16:14] sirscottalot commented on #1
Hi @LetMeR00t  i have the same issue and here are the python errors.

01-07-2021 16:05:57.106 ERROR ScriptRunner - stderr from '/opt/splunk/bin/python3.7 /opt/splunk/etc/apps/TA-thehive-cortex/bin/thehive_search_cases.py':  Traceback (most recent call last):
01-07-2021 16:05:57.106 ERROR ScriptRunner - stderr from '/opt/splunk/bin/python3.7 /opt/splunk/etc/apps/TA-thehive-cortex/bin/thehive_search

[2021-01-07 19:50] sirscottalot opened #6 "Python script errors throwing 'External search command 'thehivecases' returned error code 1. '"
Hi @LetMeR00t i have the same issue and here are the python errors.

01-07-2021 16:05:57.106 ERROR ScriptRunner - stderr from '/opt/splunk/bin/python3.7 /opt/splunk/etc/apps/TA-thehive-cortex/bin/thehive_search_cases.py': Traceback (most recent call last):
01-07-2021 16:05:57.106 ERROR ScriptRunner - stderr from '/opt/splunk/bin/python3.7 /opt/splunk/etc/apps/TA-thehive-cortex/bin/thehive_search_c

[2021-01-08 06:36] LetMeR00t commented on #1
Hi @datkps17
Did you manage to solve the issue ?

[2021-01-08 06:38] LetMeR00t commented on #6
Hi @sirscottalot ,
Did you updated the source code ?
because I can see that the Settings class is instanciated with « spl, logger » which is weird but maybe it’s a render issue of the log ?
Which version of TheHive and Splunk do you have ?

[2021-01-08 08:46] sirscottalot commented on #6
Hey,

running splunk on ubuntu LTR, splunk is version 8.0.2.1 and hive is version 4,

I can see that the API is calling out succsefully to hive, it seems that its returning no data thou.

I dint make any edits to the source, i did check through to see if there were any syntax errors at first, but im going to try a fresh install of the app again to ensure there's no source code edits made accidentl

[2021-01-08 09:09] sirscottalot commented on #6
done a fresh install and still getting the same errors.

cheers

S

[2021-01-08 10:58] LetMeR00t commented on #6
Could you detail me what you’ve configured once you installed the app ? Did you add the TheHive input and the configuration page ?

[2021-01-08 11:42] sirscottalot commented on #6
![image](https://user-images.githubusercontent.com/77116009/104011499-1a253880-51a6-11eb-8df6-f85ccac4e270.png)

i have configured a Splunk user and left the rest as default. (username and password double checked and correct)

![image](https://user-images.githubusercontent.com/77116009/104011579-404ad880-51a6-11eb-8ab1-10add4d57c87.png)

and added a 'thehive:Supervisor'

i can see within the logs

[2021-01-08 11:44] sirscottalot commented on #6
![image](https://user-images.githubusercontent.com/77116009/104011872-b94a3000-51a6-11eb-8e7a-b97440f76c92.png)

this is the error log when i go into the search.log i can see the errors i have already sent.

[2021-01-08 12:15] LetMeR00t commented on #6
Thank you for your quick and detailed response.

1) Could you check for me something to be sure about this "configuration = Settings("spl, logger")"
Open the file '/opt/splunk/bin/python3.7 /opt/splunk/etc/apps/TA-thehive-cortex/bin/thehive_search_cases.py'
Could you check the content of the line 43.
Do you have :
- configuration = Settings("spl, logger")
or
- configuration = Settings(spl, logger)

[2021-01-08 12:48] sirscottalot commented on #6
currentl line 43 reads "configuration = Settings(spl, logger)"

I have configured it using and admin account with full privileges. and am conducting the search with a full admin account.

I have set to debug mode and run the search again looking in the logs i can see some new error messages.

![image](https://user-images.githubusercontent.com/77116009/104016633-9d4a8c80-51ae-11eb-9c05-658c29eb98b6

[2021-01-08 13:03] sirscottalot commented on #6
OK so i also added a cortex supervisor (made up one as i haven't got it integrated with hive right now and re run the searches and got the following)

![image](https://user-images.githubusercontent.com/77116009/104018543-dafce480-51b1-11eb-83bc-a7d02f1c1a89.png)

I can see that it has actually pulled back data from hive into splunk (that is a tet case ive made) but its still throwing the same over

[2021-01-08 13:07] sirscottalot commented on #6
also within the var/log folder there is content in the command_thehive_cases.log

![image](https://user-images.githubusercontent.com/77116009/104018792-55c5ff80-51b2-11eb-8b86-19baf44df818.png)

It seems you need both a the hive supervisor and a cortex supervisor configured but still not sure what the issue is that the reasults arnt displaying in the splunk dashboard.

[2021-01-08 14:33] LetMeR00t commented on #6
You're right, some issues happened when only one instance is provided.
I will work on it, I can"t reproduce your error for the moment but I will do some tests.
I'll keep you informed.

[2021-01-08 14:36] sirscottalot commented on #6
No Worries thanks for the help so far :D

I'm going to check my Splunk settings (as we run some custom rules etc) try it on a fresh build see if its something my end

[2021-01-08 14:58] LetMeR00t commented on #6
Let's start with a new version here : https://github.com/LetMeR00t/TA-thehive-cortex/tree/v1.1.4

You can download the SPL file and install it directly.

Could you tell me if it's better or not ?

[2021-01-08 15:04] sirscottalot commented on #6
hey so i got it working :D

had to make some changes (commented out 3 sections of the 'thehive_search_cases.py' script. See below. im not amazing with pyhton but it looks like it cant handle it when there is a 'null' feild. for example if a case has no close or updated time (cause its not been)

![Uploading image.png…]()

[2021-01-08 15:09] LetMeR00t commented on #6
Great, could you check the fix I provided before your comment ?
It handle the lines you commented :)

[2021-01-08 15:10] sirscottalot commented on #6
yer think we posted at same time :P im pulling your fix now. will update once I reinstall

[2021-01-08 15:15] LetMeR00t commented on #6
I don't handle the 3 sections so it could raise en error again :) but if so, I will update my code given your changes.
However, it seems you resolved several issues to make it work because it can't explains the first issue you reported.
You can also try to remove the Cortex instance and have only the TheHive one.

[2021-01-08 15:45] sirscottalot commented on #6
hey fresh install from the new version, still have to have both inputs, and still had to comment out the above sections to hande the null error. but it is working now 👍.

[2021-01-08 15:48] LetMeR00t commented on #6
Could you provide me both logs with errors please to understand why you have these ? Cause I don't have them on my side with my current data.

[2021-01-08 16:00] sirscottalot commented on #6
for when the observables are uncommented.

![image](https://user-images.githubusercontent.com/77116009/104035250-d2b0a380-51c9-11eb-8464-b852cfbe4640.png)

for when the caseenddate is uncommented

![image](https://user-images.githubusercontent.com/77116009/104035485-19060280-51ca-11eb-84bf-dd4f02210204.png)

[2021-01-08 19:18] LetMeR00t commented on #6
This is maybe related to the fact that you are using TheHive 4 and that was created with TheHive 3 :) I will provide a fix for that but yes it will be different in the future.
Thanks for the logs

[2021-01-08 19:44] LetMeR00t commented on #6
@sirscottalot,
A new fix was provided. Could you test it please ?
Thank you

[2021-01-09 12:40] sirscottalot commented on #6
yer happy for you to close. look forward to future releases. 💯

[2021-01-10 07:30] #6 closed

[2021-02-26 11:08] drejoe opened #11 "New TA install throughs REST error 500"
Hi,
We just installed version 2.0.0 of ta_thehive_cortex.
After Splunk restart the TA logs REST error 500 in splunkd.log.
Any idea why?
Thanks //T

[2021-02-26 12:19] LetMeR00t commented on #11
Hi @drejoe ,
Could you provide me some logs concerning this error ? Do you have some details ?
What is your OS environment ? With which version of Splunk ?
Did you configured something more or is it only a new installation ?
Most of the code was reviewed so you will need to configure the app as described in the documentation
Thank you

[2021-02-26 12:29] drejoe commented on #11
hello :-)

Sure, just here at Git?

[2021-02-26 13:05] LetMeR00t commented on #11
Yes, just drop any sensitive information that can contains your logs if so

[2021-02-26 14:03] drejoe commented on #11
The 2 following events are from splunkd.log

02-26-2021 10:34:24.161 +0000 ERROR AdminManagerExternal - Unexpected error "<class 'splunktaucclib.rest_handler.error.RestError'>" from python handler: "REST Error [500]: Internal Server Error -- Traceback (most recent call last):\n  File "/pack/splunk/etc/apps/TA-thehive-cortex/bin/ta_thehive_cortex/aob_py3/splunktaucclib/rest_handler/handler.py", lin

[2021-02-26 14:35] LetMeR00t commented on #11
Hi @drejoe,

Could you follow the documentation and add at least one account in the app ? (User+password) :
https://github.com/LetMeR00t/TA-thehive-cortex#accounts

see if you have the error again when you restart

[2021-02-27 11:48] LetMeR00t commented on #11
If you have the same error again, it can comes from another problem.
If you added a new app (not necessarily this one) on your Splunk instance with a defaut/local file passwords.conf that contains a password imported from the app itself and not added by you using Splunk, it can generate an issue on the usage of the password storage of Splunk.
More information here :
https://community.splunk.com/t5

[2021-03-01 11:26] drejoe commented on #11
Hi again,
You was right - it was a credential what couldn't be decrypted.
I fixed the "key" and now I haven't any error 500 issue with TheHive-Cortex anymore :-)
Thanks for fast help.
//T

[2021-03-01 17:31] ladykillah0 opened #12 "Error create Splunk Alert to The Hive"
I got an error "Error in 'sendalert' command: Alert script returned error code 1." when i create alert in TheHive:Alert. Could you help me fix this problem. And Could you make a tutorial how to send alert from Splunk to TheHive. Thanks a lot

[2021-03-01 19:03] #11 closed

[2021-03-01 19:06] LetMeR00t commented on #12
Hi @ladykillah0,
Could you give me some information about the content of the file regarding the alert logs that you can find under SPLUNK_HOME/var/log/splunk/... ? I don’t remember the exact file name :) but the file is related to the name of the custom alert action

[2021-03-02 03:21] ladykillah0 commented on #12
Do you mean that file is thehive_create_a_new_alert_modalert.log. It's here
[thehive_create_a_new_alert_modalert.log](https://github.com/LetMeR00t/TA-thehive-cortex/files/6066011/thehive_create_a_new_alert_modalert.log)

[2021-03-02 03:23] ladykillah0 commented on #12
![config](https://user-images.githubusercontent.com/59617851/109592137-5a1ef100-7b41-11eb-9fef-58c1f5f7ffbf.png)
And this picture is my config

[2021-03-02 03:40] ladykillah0 commented on #12
[splunkd.log](https://github.com/LetMeR00t/TA-thehive-cortex/files/6066062/splunkd.log)
And file splunkd.log

[2021-03-02 05:16] LetMeR00t commented on #12
Hi @ladykillah0 ,
Thanks for the logs.
My first question is : did you configure the account under the Configuration page (Settings/Configuration#Account) ? (I mean the Splunk_TheHive3). Did you add the API key as the password ?
if so, I don’t see any error in your logs.
Could you delete the thehive_create_a_new_alert_modalert.log file, set the DEBUG mode under the Configuration page (Settings/Conf

[2021-03-02 07:21] ladykillah0 commented on #12
Dear admin,
I configured API key as password so TheHive : Case work normally, but TheHive : Alert didn't work. I think i configure wrong at Organisation in Setting > Instances
Here is file log
[thehive_create_a_new_alert_modalert.log](https://github.com/LetMeR00t/TA-thehive-cortex/files/6066802/thehive_create_a_new_alert_modalert.log)
Thank admin

[2021-03-02 09:12] LetMeR00t commented on #12
Hi again,
Next time, check your log file as it contains sensitive information :) I've just removed it.
Important thing is that your connection is working as it's working for the TheHive: Case.
When I check your file log, I can see that all the process is done but not the last few lines that performs the request to TheHive. This part is not accessed :

https://github.com/LetMeR00t/TA-thehive-cortex

[2021-03-02 09:39] Tyrell20 opened #13 "[Feature Request] Enhance Integration between TA-TheHive and Splunk Enterprise Security"
### Request Type
Feature Request

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | RedHat 7.9
| TheHive version / git hash   | Version: 4.0.5-1

### Problem Description
Enhance the integration between TheHive and Splunk Enterprise Security enriching alerts on TheHive with the "Originating Event" from correlation

[2021-03-02 12:12] LetMeR00t commented on #13
Good afternoon,
It will be very good indeed to do so and I know that the App Builder is integrating this feature I think but I don’t have any licence to check this with Splunk ES ... (not a personal one and my company doesn’t have it yet)
Do you know if we can a demo version ?
Thank you

[2021-03-03 03:31] ladykillah0 commented on #12
Thank a lot, I have solved this problem. Wishing you all the best.

[2021-03-03 06:10] #12 closed

[2021-03-03 10:21] Tyrell20 commented on #13
Hi @LetMeR00t  I think no. It could be very useful try to integrate these specs inside the TA. It will increase the efficiency to manage event from ES in TheHive.

[2021-03-03 11:35] LetMeR00t commented on #13
Hi @Tyrell20,
@remg427 will take a look for this.
We keep you in touch

[2021-03-03 17:25] remg427 commented on #13
Hello,
thank you for your feature request.
I would like to clarify with you what you ask for.
My understanding is that you would like to configure a CS with several actions such as
- Notable: create a notable event in index=notable with entry in kv store es_notable_events with event_id
- TheHive - Create a new alert that would include also event_id as "originating event"

If correct, then the issu

[2021-03-03 22:06] Tyrell20 commented on #13
Hello,
many thanks for your interesting about this feature request.
I try to report with more detail the desiderata.
In Splunk ES the Notable Event are managed under Incident Review's dashboard. Here the analyst have the list of notable event reported by Urgency. Every Notable Event shows the information below:
- Title
- Description
- Urgency
- Fields of Correlation Search
- Originating Event. It

[2021-03-08 21:41] remg427 opened #14 "unknown key in common.py"
In common.py line 81
                        proxy_url = proxy_url + proxy['proxy_hostname'] + \
                            ':' + proxy['proxy_port'] + '/'
should be
                        proxy_url = proxy_url + proxy['proxy_url'] + \
                            ':' + proxy['proxy_port'] + '/'

[2021-03-11 10:37] tblatrille opened #15 "[Feature Request] Client Certificate Compatibility"
### Request Type
Feature Request

### Problem Description
The latest version of TA-thehive-cortex does not allow to provide a client certificate as in past versions e.g TA-thehive. The "self-signed certificate of a custom certificate authority" not being enough for many cases.

### Steps to Reproduce
Trying to connect to a TheHive instance which requires a client certificate will get in the Splunk

[2021-03-11 12:06] LetMeR00t commented on #15
Hi @tblatrille ,
Could you clarify your request as I don’t understand what is the issue ...
Is it concerning the fact that you have a TheHive instance with a certificate signed by  an official CA and that is not recognized by this app ?
Thank you

[2021-03-11 12:21] tblatrille commented on #15
Hey @LetMeR00t thanks for your fast reply!

Sorry if my explanation was not entirely clear still quite new on this.

The issue I am facing is that in prior apps as [TA-thehive](https://github.com/remg427/TA-thehive) we were able to provide a client certificate as in the picture.

![image](https://user-images.githubusercontent.com/17602895/110786147-111b1b00-826c-11eb-9756-0de9eac2dc9d.png)

Readin

[2021-03-11 21:08] LetMeR00t commented on #15
Hi @tblatrille
If I understand well what you are asking, you want the ability to connect to an instance using a client certificate and not a password/API key, isn’t it ?
Indeed the documentation mentions HTTPS certificate but it’s only to secure the transactions between the app and instances but not use it as an authentication method.
Thank you

[2021-03-12 08:49] LetMeR00t commented on #14
Hi @remg427 ,
Suddenly, I have an issue with the usage of these proxies.
In the instance list of TheHive/Cortex, we can specify proxies (http/https) to use if needed for each instance but what is the usage of a general proxy as you implemented in your last PR ?
Is it the same thing ? or is it something like a "general proxy" behind Splunk when the instance proxies are proxies behind TheHive/Cortex

[2021-03-12 10:04] LetMeR00t commented on #14
For what I understand from my code and your code, it's the same thing but it's not used well on my side.
I will review how this is working to use username/password for proxies correctly too and provide a way to have a client certificate as required in #15

[2021-03-12 10:36] tblatrille commented on #15
Yes, indeed we want the ability to connect using a client certificate.
Would be very useful.

Thanks a lot

[2021-03-12 12:05] LetMeR00t commented on #15
I understand what you need.
I will work on this and provide you a solution.

[2021-03-12 16:27] LetMeR00t commented on #15
Hi @tblatrille,

I'm currently integrating this feature in this TA.
I requested an upgrade to the TheHive4py Github to support this (https://github.com/TheHive-Project/TheHive4py/pull/215).

Thank you for your understanding

[2021-03-12 17:41] remg427 commented on #14
Hi
Proxy implemented via configuration tab is the standard way of the addon builder. It assumes that there is only one proxy to access any thehive/cortex instances or no proxy at all.
This way proxy password is correctly encrypted in storage password
That why from kv store there is just a need for a Boolean flag whether to use proxy or not

Standard AOB code uses proxy_url if not mistaken and not

[2021-03-12 18:57] LetMeR00t commented on #15
Hi @tblatrille,
Last version of this TA in the "dev" branch is up to date with a proposal for the usage of client certificate.
I've tested it on my side and it's working.
It's not documented yet but if you want to test it, install the app in the dev branch and when you add your new instance, you will have a "client certificate" input to fill with the name of a PEM file located under the "local" fo

[2021-03-12 19:02] LetMeR00t commented on #14
Hi @remg427 ,
I understand your point ...
However I worked this afternoon with a version where you can have a dedicated proxy for each instance. "Theory" is working but I can't make it work in practice on my side....
You can provide a proxy URL with a dedicated account (stored in the Global accounts).
If you want to perform some tests on your side, please test the last version of the dev branch th

[2021-03-15 13:05] tblatrille commented on #15
Hey @LetMeR00t,
Thanks for the new update!
We are trying to use it right now but unfortunately, after completing all the inputs it does not seem to add the instance
![image](https://user-images.githubusercontent.com/17602895/111157397-20190a80-8597-11eb-8f43-a0ea04dd476b.png)
Could that mean that the file was not found in the path or a similar issue?

We are not very sure why would this happen, bu

[2021-03-15 18:25] LetMeR00t commented on #15
Hi @tblatrille ,
It's my fault, I forgot to change some values in this dashboard.
I've just pushed a new version with a fix on the dev branch, could you test it please ?
Thank you

[2021-03-15 19:32] LetMeR00t commented on #14
Hi @remg427 ,
I successfully managed to make it work. I checked with Wireshark what was the issue and I understand that my proxy wasn't configured well.

FYI, I created a proxy on my side using this configuration (apache2) :

[code]

I configured my apache2 server to require a client certificate so that's why you have the first two lines about SSLProxy.

[2021-03-16 09:38] tblatrille commented on #15
The instance gets added correctly and in the Nginx access logs of thehive we see that requests get status code 200, that is great progress!
But when trying to use the app to retrieve cases I can see an error code.
I am not sure if this is related to our instance of thehive or the TA-thehive app, but we will keep looking into it.
![image](https://user-images.githubusercontent.com/17602895/111287134

[2021-03-16 12:19] LetMeR00t commented on #15
Hi,
Could you enable the debug mode in the app and see what is the issue ? To do so, you can open the search and check the search.log file to see the output
If you need help on this file, don’t hesitate to forward it to letmer00t@gmail.com (do not paste it here except if you remove all sensitive information)

[2021-03-16 14:52] tblatrille commented on #15
Hi @LetMeR00t,

Looking at the logs we realized that some querys work completely fine while others would give errors.
The difference we discovered was in the customfields and their values.
With Cases like that had in their custom fields something like:
`{'timeWeReceived': {'date': XXX, 'order': 5}, 'timeIssue': {'date': XXX, 'order': 3}` the query would finish completely fine.

While cases that ha

[2021-03-17 07:41] LetMeR00t commented on #15
Hi,
FYI, I successfully reproduce this error on my side.
I will work on this this morning.

[2021-03-17 07:50] LetMeR00t commented on #15
Hi again,
I pushed a fix on the dev branch.
Could you confirm that this is a good solution for you and this issue could be closed ?
Thank you

[2021-03-17 12:56] tblatrille commented on #15
Hi @LetMeR00t,
Working well right now. Yes, this issue should be closed!

Thanks a lot,

Tomas

[2021-03-17 17:02] #1 closed

[2021-03-17 17:02] LetMeR00t commented on #15
The complete fix will be available in the next version that will be officially release soon :)
Thank you

[2021-03-17 17:02] #15 closed

[2021-03-17 17:58] LetMeR00t commented on #14
Hi @remg427 ,
"dev" branch is up to date.
I successfully manage to connect to a HTTP proxy with or without basic authentication.
However, if I set a HTTPS proxy, it doesn't work ...
Anytime the script is running, it's performing an HTTP request (CONNECT) systematically... and I don't understand why as it's an HTTPS proxy that I've set up and it (the requests.post of my script) uses directly an HTT

[2021-03-18 14:22] tblatrille opened #16 "[Feature Request] Support Adhoc adaptative response invocation in Enterprise Security"
# Request Type
Feature Request

# Problem Description
Enterprise Security's adaptative response with the TA-Thehive-cortex app is available on the correlation search editor, but not on Incident Review.

# Steps to Reproduce
In the Enterprise Security app when clicking an incident in the incident review dashboard and choose an incident,  "create a hive alert" does not appear as one of the response

[2021-03-18 15:08] yorkvik opened #17 "Howto : Use field name in Title or Description"
Hello,

I'm trying to find out how to specify a field name inside the alert title or description.
According to the doc I can use a field name: "The title to use for created alerts. IMPORTANT you can specify a field name that contains the title text."
How do I specify a field name from a result?

Tried to put the field_name between $$, but doesn't seems to work.
Example:
Found malicious file :$file

[2021-03-18 15:54] LetMeR00t commented on #16
Hi,
As explained here : https://github.com/LetMeR00t/TA-thehive-cortex/issues/13 I don’t have a Splunk Enterprise Security on my development environment unfortunately.
I let @remg427 take a look at it to help me
Thank you for your understanding

[2021-03-18 16:00] LetMeR00t commented on #17
Hi @yorkvik,
Thank you for your submission.
I will take a look at it tomorrow and provide you what you ask.
Until now, you can just specify the name of a field in your search.
If you have a search with three fields : title, ip, user ; then you can specify « title » on the field you mentioned to use the content of the field « title » as the title.

When you specify the name of the field, it’s the n

[2021-03-18 17:07] yorkvik commented on #17
Thank you for your quick response @LetMeR00t !

Ok, I see, I can only use the fieldname and cannot "mix". That's where I was wrong :-s.

So I tried using only a fieldname and I think I found a bug...
I tested it out using the "trigger action" on alerts created in Splunk.
Here is the extract of my thehive_create_a_new_alert_modalert.log.
When using fieldname only, no alert is created :

`2021-03-18

[2021-03-18 17:24] LetMeR00t commented on #17
Hi @yorkvik ,
Could you provide me some exemples of your search results ?
Moreover, you can change the logging level under Settings/Configuration to set the mode to DEBUG and rerun your custom alert action with the fieldname as title and send me the detail of the thehive_create_a_new_alert_modalert.log.
Be aware to remove any sensitive data if you post it here or just send me the result to letmer0

[2021-03-18 17:40] yorkvik commented on #17
In the title I'm using the fieldname "QueryName".
Here is an debug log and a screenshot of a search result.

Thank you!

![example](https://user-images.githubusercontent.com/31284407/111671228-0686f580-8819-11eb-83a8-dbd75a899dc8.png)
[debug.log](https://github.com/LetMeR00t/TA-thehive-cortex/files/6166167/debug.log)

[2021-03-18 17:52] yorkvik commented on #17
Debug log is indeed more verbose :-).
That's what I understand :
Apparently, when no artifact is found no alert is created.
Here there is an artifact, but (already) used in the title...

[2021-03-18 18:23] remg427 commented on #17
Hi Yorvik, Nice to see you
I'll check also, it should work like previous app
--
Sent with K-9 Mail.

[2021-03-18 18:27] remg427 commented on #17
Yes that correct
you need to duplicate the field as the one specified as title is remived from result row
| eval mytitle=QueryName
Also never tested created an alert without artifact and only custom fiekds
Remi
--
Sent with K-9 Mail.

[2021-03-18 18:28] remg427 commented on #16
Hi still on todo list I'll get Dev env back next week
--
Sent with K-9 Mail.

[2021-03-18 18:48] LetMeR00t commented on #17
I can try to update the code and keep the field systematically for the alert and fields
I’ll check this tomorrow

[2021-03-18 19:52] remg427 commented on #17
The logic behind this was to remove somebinline fields when an alert is crested with boolean setvto keep all fields as artifact of type other
Now that this option exists fields could be kept ( there are other fields handled the same way)  with switch set to use only artifacts defined in lookup. But there is a risk to miss some fields
--
Sent with K-9 Mail.

[2021-03-19 09:19] tblatrille commented on #16
@remg427 & @LetMeR00t
Thanks a lot.
From what I read in #13, we have a different use case but both for sure in the scope of "enhancement of integration between ES and TA-TheHive".
Best regards,

Tomas

[2021-03-19 11:26] LetMeR00t commented on #16
Hi @remg427,
Ask you requested, I've added the Adaptive Response for #13 and #16.
I don't know if this is sufficient to work with Splunk ES, @tblatrille maybe you could test it and see if you have anything new on Splunk ES?
Tell me if you need anything else.
"dev" branch is up to date.

[2021-03-19 12:51] LetMeR00t commented on #17
Hi @yorkvik,
I've just pushed a new version on the "dev" branch with the possibility to use a token, a static string of a mix of the both solutions.
Now, if you set "Hello, this is my $token1$ and $token2$" in the given field for the custom alert action, it will try to find these tokens in your fields results.
Assuming that you have a search results returning 1 event with token1="A" and token2="B"

[2021-03-19 13:04] tblatrille commented on #16
Hi @LetMeR00t  @remg427,
Thanks a lot for your support.
It's almost working, the adaptive response action now appears in the incident dashboard !
But there is a small error when creating the action.
![image](https://user-images.githubusercontent.com/17602895/111784117-47374b00-88bb-11eb-80c8-267edfe9c125.png)
There is a [possible solution in the splunk forum](https://community.splunk.com/t5/Splunk

[2021-03-19 13:40] yorkvik commented on #17
Hello!
Great, thank you. I'll try to validate this asap. Keep you posted.

[2021-03-19 17:50] remg427 commented on #16
Hi
Yes some code needs to be added

Le 19 mars 2021 14:04:43 GMT+01:00, tblatrille ***@***.***> a écrit :

--
Sent with K-9 Mail.

[2021-03-26 08:50] LetMeR00t commented on #17
I assume that this is working and I will close the issue and push officialy a new release today.
If you have any trouble, please let met know

[2021-03-26 08:57] LetMeR00t commented on #14
Hi @remg427,
I will close this issue as I will push a new release and this is working for me in the new release.
Let me know if you need help of if you find an issue :)

[2021-03-26 08:57] #14 closed

[2021-03-26 09:31] yorkvik commented on #17
I'm testing right now, but had some issues... I'll keep you posted

[2021-03-26 09:56] yorkvik commented on #17
Ok, the test works when the complete value is the title or description, but the token replacement between $$ signs doesn't work yet.

[2021-03-26 10:26] yorkvik commented on #17
When you call `alert["title"] = extract_field(helper, row, alert_args["title"])`
the variable `alert_args["title"]` doesn't contain the $token$.
Somewhere that part is stripped out apparently... dind't find out where yet.

[2021-03-26 10:38] yorkvik commented on #17
I'll found a solution, I'll make a pull request.

[2021-03-26 11:10] LetMeR00t commented on #17
Hi
Could you provide me more details with an example ?
Thank you

[2021-03-26 12:33] yorkvik commented on #17
I put in the alert Title= "DNS request for $QueryName$".
Queryname was added to the lookup table as artifact.
When debugging a bit, I saw that the variable that was send to the extract_field was equal to "DNS request for", the part between $$ was removed.

In the pull request I just worked with dictionaries instead, by using the token between {}? Which is easier to implement (just a onliner).

[2021-03-26 14:39] LetMeR00t commented on #17
Okay,
Something went wrong with my last commits, a part of my code was removed. I will solve that

[2021-03-26 14:51] LetMeR00t commented on #17
@yorkvik , could you retest the last version on the dev branch please ?
The issue should be resolved by using $token$

[2021-03-26 19:04] remg427 commented on #17
Le 26 mars 2021 19:11:05 GMT+01:00, "Rémi Séguy" ***@***.***> a écrit :

--
Sent with K-9 Mail.

[2021-03-26 19:04] remg427 commented on #17
Hi
My undestanding is that if you use tokens With $
Splunk does replace tokens by values at timeof calling the alert action and passes data with token substitution
That's why you have to use $result.domain$ to use domain
See excellent doc https://ta-jira-service-desk-simple-addon.readthedocs.io/en/latest/userguide.html#jira-custom-fields

That's why in previous implementation I used something simp

[2021-03-27 06:17] LetMeR00t commented on #17
Well, I understand.
I pushed an update yesterday that modified this so I will take a moment ASAP to restore the old way and keep the PR from Yorvick

[2021-03-27 07:41] yorkvik commented on #17
Thank you Remi, this is clear now. Didn't know that Splunk was doing the substitution when using $.
The Python code of @LetMeR00t seemed completely right, so didn't understand what was happening.
Now I do :-).

[2021-03-27 12:45] remg427 commented on #17
Yes i have double checked and doc is here
https://docs.splunk.com/Documentation/Splunk/8.1.3/AdvancedDev/ModAlertsLog#Pass_search_result_values_to_alert_action_tokens

So it anuway to use tokens if they fit the purpose but custom mechanism to include fieldnames evaluated for each row provides maximum flexibility to support all use cases

--
Sent with K-9 Mail.

[2021-03-30 08:34] bil15 opened #20 "SSL communication between TheHive and Splunk"
Hey!
I have a little difficulties during configuring SSL for my Splunk-TheHive communication using the app.
My TheHive3 instance has SSL configured using nginx revesre-proxy.
So, I have files like this:
`/etc/nginx/snippets/thehive-self-signed.conf` which contains:
[code]

`/etc/nginx/snippets/thehive-ssl-params.conf` which contains:
[code]

`/etc/nginx/sites-enabled/thehive.conf` which contains:

[2021-03-30 09:13] LetMeR00t commented on #20
Hi @bil15
Could you enable the DEBUG mode by setting DEBUG under Configuration/Logging ? Then start the search again (the one with the 46 error), open the search.log and copy/paste the output here (please remove any sensitive information if any) or send the file by mail to letmer00t@gmail.com
Thank you

[2021-03-30 10:35] bil15 commented on #20
@LetMeR00t
Where could I find search.log?

[2021-03-30 10:52] bil15 commented on #20
[code]
something like this
I've changed all sensitive data with `<...>`

[2021-03-30 10:56] LetMeR00t commented on #20
Hum
Are you using the IP on the instances list as host ?
Please use the hostname indicated in your certificate as the host and not the IP
Do you understand what I mean ?
Cause you have an error saying that your IP doesn’t match the hostname (so you should set the hostname directly and not the IP)

[2021-03-30 11:05] bil15 commented on #20
yes, I understood
I'll try and tell some results then

[2021-03-30 12:05] bil15 commented on #20
@LetMeR00t I have few more questions about the app usage
how could I reach you?
these questions aren't worth separate issue :)

[2021-03-30 13:31] LetMeR00t commented on #20
Hi
You can send an email to letmer00t@gmail.com
Thank you

[2021-03-30 13:31] #20 closed

[2021-03-31 07:30] LetMeR00t commented on #17
Hi both of you,
I've updated the code and the documentation, is this okay for you ?

[2021-03-31 09:11] LetMeR00t commented on #17
Yes, but if you want to keep one field in your result, then just use an "eval field2 = field1".
Otherwise, you will always have some fields included in the results if your scope is expanded.

[2021-03-31 09:34] LetMeR00t commented on #17
Could you explain me a little bit more what is Sigma ? Is it another app for Splunk ?

[2021-03-31 09:51] yorkvik commented on #17
Sigma is a generic 'language' to define searches/alerts for SIEMs in Yaml format.
Since it is compatible with most SIEM, the syntax is quite basic (not splunk specific).
You can find more info here : https://github.com/SigmaHQ/sigma
My whole security framework is based on Sigma ;-). So I have to adapt sometimes things to fit it...

[2021-03-31 20:12] remg427 commented on #17
Actually with the setting to keep all fields or just the ones listed in lookup, it should be possible to avoid a pop.
Field can be used in alert fields as token and will be pushed in thehive alert only if it is also on the lookup
--
Sent with K-9 Mail.

[2021-04-07 23:48] Ugalder opened #23 "[BUG] App issues on SHCluster"
### Request Type
Bug deploying app on SHCLUSTER

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       |  CentOS 7
| TheHive version / git hash   |  3.4.0-1

### Problem Description
After I install de APP on my deploy master I set up the configuration and the app run smoothly after I send this app to the SH I notice two

[2021-04-08 07:16] LetMeR00t commented on #23
Hi @Ugalder,
I also work in an environment where I have a SHCluster.
I've noticed that, at least in my case, you can't push the credentials like that.
In fact, each instance have his own storage/passwords and it appears to not be synchronised/mutualised between SH.

The fact that you have a loading page forever may be because the local/passwords.conf file has been pushed (under default/passwords.c

[2021-04-08 07:38] remg427 commented on #23
Hi Maybe you need to add a file under /default
server.conf
With a stanza [shclustering]
Where you list files that have to be replicated
You don't need to specify passwords.conf i think it is because access is via API call which occurs at SHC level not at node level
--
Sent with K-9 Mail.

[2021-04-08 08:08] LetMeR00t commented on #23
Hi,
Could you check if this can be related to : https://community.splunk.com/t5/Deployment-Architecture/Getting-decryption-failed-errors-on-indexers/m-p/508697 ?

[2021-04-09 07:27] bil15 opened #24 "[FEATURE] Make alert sending to TheHive like in Enterprise Security app"
**Request Type**
Feature Request

**Work Environment**

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Ubuntu 20.04
| TheHive version / git hash   | 3.4.2-1

**Feature Description**
To slice correlation row by row for alert creation like ES does.
For example, my correlation search returns a table of 3 rows, one of which is field nam

[2021-04-09 10:40] remg427 commented on #24
Hi why unique id is not suitable here?
If a field is computed to have unique value per row it will be sliced

On the other hand I will have a look on how notable event works
--
Sent with K-9 Mail.

[2021-04-09 10:48] bil15 commented on #24
@remg427
As for me, it's not suitable because I need to configure all actions for my 3 splunkes manually (I'm doing it using script, I mean adding "send to thehive" action). Then, as far as I understand, "reference" filed in my thehive will contain, for exapmle, source IP for this alert and all concept of alert having unique ID will fail.

[2021-04-09 10:58] bil15 commented on #24
btw I thing it's cool idea to make alert sending concept as much similar to notable events in ES as possible, regardless of my opinion and issues I currently have

[2021-04-09 17:23] remg427 commented on #24
Hi
Ok would it be OK to add a switch in alert conf to keep current behaviour or split each row in an alert with a unique alert id regardless of reference field
--
Sent with K-9 Mail.

[2021-04-09 19:51] bil15 commented on #24
Couldn't ask for more
I think it's a great idea
Will wait for this feature in upcoming release
Wish you the best!

[2021-04-10 03:53] LetMeR00t commented on #24
Can I let you work en this @remg427  ?

[2021-04-10 10:04] remg427 commented on #24
Hi,
I could work on it in coming days if OK for you

Le 10 avril 2021 05:54:02 GMT+02:00, LmR ***@***.***> a écrit :

--
Sent with K-9 Mail.

[2021-04-10 11:06] LetMeR00t commented on #24
Yes it’s okay for me as I don’t have a Splunk ES licence unfortunately :)

[2021-04-15 10:08] LetMeR00t commented on #23
Hi @Ugalder,
Could we have an update on this ?
Thank you

[2021-04-15 10:09] LetMeR00t commented on #13
Hi,
A new proposal was provided partially or totally for this issue.
Could you take a look at this and give us some feedback if this is resolved your issue ?
Thank you

[2021-04-15 10:10] LetMeR00t commented on #24
Hi,
A new proposal **on the dev branch** was provided partially or totally for this issue.
Could you take a look at this and give us some feedback if this is resolved your issue ?
Thank you

[2021-04-15 10:10] LetMeR00t commented on #16
Hi,
A new proposal **on the dev branch** was provided partially or totally for this issue.
Could you take a look at this and give us some feedback if this is resolved your issue ?
Thank you

[2021-04-15 12:11] tblatrille commented on #16
Hi @LetMeR00t,
Thanks for letting me know.
Unfortunately the error continues.
`ModularActionException: Invalid parameter for adhoc modular action.
`
But as far as I understand in the .conf file there might still be missing some parameters that are present in the UI such as the ones discussed in this [issue.](https://github.com/remg427/TA-thehive/issues/13)
Some could bes:
[code]

[2021-04-15 13:03] LetMeR00t commented on #16
@remg427 , is it something I missed on the integration of your code ?

[2021-04-15 14:06] LetMeR00t commented on #16
@tblatrille, I understand what you mean but I don't know what I have to set up
![screenshot1](https://user-images.githubusercontent.com/10530375/114882587-636bd080-9e04-11eb-9e4f-be22e81d77f2.png)

As you can see, it asks me for the ad-hoc action two things that I don't know how to configure

[2021-04-15 16:09] remg427 commented on #16
Hi
param.thehive_instance is mandatory
So it should be present in conf file

I'll check adhoc invokation next week

Le 15 avril 2021 14:11:41 GMT+02:00, tblatrille ***@***.***> a écrit :

--
Sent with K-9 Mail.

[2021-04-16 07:16] Tyrell20 commented on #13
Hi,
Many thanks for your interest and work.
Unfortunately I do not have a test version of SplunkES, so I would like to understand better, before testing the dev version, how it interacts with Splunk and if it includes some of the suggested integrations.

Many thanks

[2021-04-16 14:15] Ugalder commented on #23
Hi @LetMeR00t sorry for not giving feedback, but it actually works as @remg427 said, I send the app without configuration to all the SH on the cluster after I send the app I configure it in one of the SH and it works smoothly!!

Thank you @remg427  and @LetMeR00t

[2021-04-16 14:15] #23 closed

[2021-04-28 13:57] tblatrille commented on #16
@remg427 @LetMeR00t Thanks a lot!
I will be attentive to new changes

Best regards,

Tomas

[2021-05-19 09:12] tblatrille commented on #16
Hey guys @remg427 @LetMeR00t,
Unfortunately, we have not been able to make it work with ES yet.

Do you think the next releases might enhance ES integration 😄 ?

Best regards,

Tomas

[2021-07-02 13:36] AndiLurtz opened #27 "[BUG] Error creating alerts in TheHive from Splunk"
### Request Type
Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | Oracle Linux Server 7.9
| TheHive version / git hash   | v3

### Problem Description
I'm getting this error: ERROR pid=27305 tid=MainThread file=cim_actions.py:message:431 | sendmodaction - worker="xxx" signature="[CAA-THCA-126] ERROR theHive

[2021-07-02 19:33] LetMeR00t commented on #27
Hi
I see something weird with the payload :

frame.number == 1032

do you know what is this parameter for you ? It appears in one of the artifacts sent

thank you

[2021-07-02 19:57] LetMeR00t commented on #27
If you have no idea, I will need the complete log file with debug mode enabled
You can enable the debug mode on the configuration tab with an admin user.
You can send me the complete file at my email letmer00t@gmail.com or paste it here.
Thank you

[2021-07-02 22:59] AndiLurtz commented on #27
Sorry LetMeR00t, I must have copied the "frame.number == 1032" in the logs when checking it before the upload. That part wasn't originally in the logs.

This error only happens when I select 'Include all fields (default datatype is "other")' in Scope.

If I select the option 'Include only listed fields in thehive_datatypes.csv' in Scope I don't get any ERROR but the alert still doesn't get created

[2021-07-03 05:02] LetMeR00t commented on #27
Hi
I need the complete job task in debug mode to see all the processing done before the alert creation please :)

Moreover do you have a screenshot of the results you are using in your saved search when the alert is created ? What are the fields/values ?

Sorry if I need a lot of things, it’s to easy my debug of this issue

[2021-07-05 16:05] LetMeR00t commented on #27
Hi @AndiLurtz ,
I successfully received your logs by email and I will check them ASAP.
Could you be more precise about your TheHive version ? You mean v3 and also "TheHive/Cortex version is 2.1.0" but you probably mentionned Cortex ?
Can you be more specific about the version ?
Thank you

[2021-07-05 17:22] AndiLurtz commented on #27
Hi,

I meant that the version of the TheHive app on Splunk is v2.1.0, and the
version of TheHive that we have installed in the server we are trying to
send the alerts to is V3

El lun, 5 jul 2021 a las 13:06, LmR ***@***.***>) escribió:

[2021-07-05 17:23] LetMeR00t commented on #27
Hi @AndiLurtz,
When you select "Include only listed fields", it means that an artifact should have a type defined in dataType.
If none of your fields is listed as a potential artifact, the alert is no created as there is none artifact to consider.
I'm doing some tests on TheHive 3.5.0-1

[2021-07-05 17:44] LetMeR00t commented on #27
I've run some tests and I wasn't able to reproduce your issue...
What is your TheHive version (complete) ?

The only thing curious in your logs is the presence of 3 artifacts coming from the same field "_time" but I wasn't able to reproduce the issue ...
Are the results you send me by picture the results given to the alerts ?
![search_results](https://user-images.githubusercontent.com/10530375/124

[2021-07-05 18:23] AndiLurtz commented on #27
The complete version is 3.3.1 and what you see in the screenshot is what
was given to the alert.
[image: THversion.jpg]

But the company just informed me that we won't be needing the integration
with TheHive, so no need to keep debugging it. Anyway, if I discover what
the issue was I'll let you know.

Thanks a lot for your time!

El lun, 5 jul 2021 a las 14:44, LmR ***@***.***>) escribió:

[2021-07-06 05:21] LetMeR00t commented on #27
Hi,
No problem :) is it because you don’t want to use thehive or the application for Splunk is not enough complete ?

[2021-07-06 13:44] AndiLurtz commented on #27
They just decided that it was better to send the alerts to Phantom which is
already integrated, so why to integrate something new. Sad they didn't
realize this before I started haha

El mar, 6 jul 2021 a las 2:21, LmR ***@***.***>) escribió:

[2021-07-07 11:45] #27 closed

[2021-10-11 10:18] Tango43 opened #29 "[BUG] Documentation update and wont create case without task"
### Request Type
Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       |  Debian 11 latest splunk.
| TheHive version / git hash   |  TheHive 4 Latest version.

### Problem Description
Several of the examples for create case dont work and it seems that more fields are required than specified to create cases. The onl

[2021-10-16 16:10] LetMeR00t commented on #29
A solution is provided by the v2.1.1.
Thank you for submitting the issue.

[2021-11-22 10:20] amirzargaran opened #30 "[BUG] Working fine but I Got an ERROR when I was refreshed any resources via TheHive-Cortex Splunk App in SearchHead."
### Request Type
Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       |  Ubuntu 20.04 amd64
| TheHive version / git hash   |  4.1.13

### Problem Description
I installed TheHive4 and Cortex3 on Ubuntu 20.04 server. So, I have a Splunk Enterprise as SIEM and I integrated the TheHive/Cortex with that Splunk server u

[2021-11-23 05:40] LetMeR00t commented on #30
Hello
Thank you for submitting your issue
It seems that your cortex instance is not found.
Did you try to perform a curl on your SH to access to your cortex instance ?
Did you have any firewall between the SH and Cortex ?
Thank you

[2021-11-23 05:45] LetMeR00t commented on #30
Do you have any proxy server also ?
This error is based on requests.exceptions.ConnectionError which occurs when the response from the server is something not expected or malformed.
You should test it manually to check what is the HTTP answer

[2021-11-23 11:23] artsec89 commented on #30
Hi Dear Amir,
Could you please send cortex and thehive configuration here?

[2021-12-06 10:32] fkolacek opened #31 "[BUG] SERVICE UNAVAILABLE - Cortex service is unavailable, is configuration correct ?"
### Request Type
Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS | RHEL 7.9 |
| Cortex Version | 3.1.1-1 |
| Splunk version | 8.2.2.1 |
| TheHive-Cortex version | 2.1.5 |

### Problem Description
We are trying to configure our Cortex instance in your app so Splunk can talk to it, howerver we are seeing following error when trying t

[2021-12-06 10:32] fkolacek commented on #31
Forgot to mention that we were able to configure the app to talk to our Hive4 instance without any problems, it's just the Cortex part of the integration which doesn't work.

[2021-12-06 20:19] LetMeR00t commented on #31
Hello @fkolacek,
Thank you for submitting your issue and also providing a lot of details regarding your issue.
Could you, from the SH, perform a curl request to your cortex instance just to check if the network is working well?
If it’s working, I will make a review of your issue on my side with the same configuration.

thank you very much

[2021-12-07 13:45] fkolacek commented on #31
Hello @LetMeR00t ,

thank you for your prompt reaction. Ive tried to access the Cortex instance directly from the Splunk SH using 2 approaches:

1) Contacting Cortex directly (there is an httpd reverse proxy running on the Cortex host used for SSL)
[code]
2) Using SSH port forwarding to map Cortex default port locally (to eliminate possible problems with the httd reverse proxy)
[code]

Both of the

[2021-12-08 06:56] LetMeR00t commented on #30
Hello,
I can reproduce the bug on my side. I'll work on it today.
I close this issue as it's a duplicate of #31 .
Thank you for submitting your issue

[2021-12-08 06:57] LetMeR00t commented on #31
Hello,
I can reproduce the bug on my side. I'll work on it today.
I confirm you that this is an issue within the application after the modification for cloud compatibility.
I will let you know when the fix is ready.

[2021-12-08 07:50] LetMeR00t commented on #31
I know what the issue is, and it seems to not be linked to the application.
HTTPS is mandatory for both TheHive and Cortex now.
Your tests are made using a Cortex URL in HTTP which is not accepted for Cloud environments (everything should be HTTP).
Could you confirm that this is the issue you are facing ?
Thank you

[2021-12-08 07:51] LetMeR00t commented on #30
I know what the issue is, and it seems to not be linked to the application.
HTTPS is mandatory for both TheHive and Cortex now.
Is your Cortex instance in HTTP ? If it's the case, then you have to configure Cortex in HTTPS because this is now mandatory.
Thank you

[2021-12-08 09:03] LetMeR00t commented on #30
Hi again,
After another check, yes, some things were missing in the application.
A fix was provided on the github repository (v2.2.0)
This version will be pushed to the Splunkbase soon.
Thank you to tell me if the issue is now solved with this new version.

[2021-12-08 09:03] LetMeR00t commented on #31
Hi again,
After another check, yes, some things were missing in the application.
A fix was provided on the github repository (v2.2.0)
This version will be pushed to the Splunkbase soon.
Thank you to tell me if the issue is now solved with this new version.

[2021-12-08 10:44] amirzargaran commented on #30
HI @LetMeR00t
Thanks for the reply.
Yes, all restrictions (Firewall, IPtables, SELinux) have been disabled.
But finally, I had to use the "TA-thehive-cortex Version **_2.1.0_**". And now it`s working correctly.

Kindly Regards,
Amir

[2021-12-08 10:50] amirzargaran commented on #30
Dear @LetMeR00t
Do you guarantee that there will be no problem after upgrading the TA-thehive-cortex Add-on from **_2.1.0_** to the latest version?
It`s not an easy process for me.

[2021-12-08 10:54] LetMeR00t commented on #30
Hi @amirzargaran
I can ensure you that the modifications are not big so the impact is very low.
This should be working but you will not be able to use anymore HTTP request to access your Cortex instance using the last version.

[2021-12-08 11:10] #30 closed

[2021-12-08 11:16] fkolacek commented on #31
Hello again :)

I can confirm that the new version available on Splunkbase (v.2.2.0) fixed the issue and application now works well with both Cortex and Hive.

Thank you very much for such quick fix!

[2022-05-02 09:41] BlueNG01 opened #32 "[Error] Creating case"
### Request Type
Error 60

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | ubuntu server
| TheHive version / git hash   | 4

### Problem Description
After configuring accounts and instances on splunk I'm getting error code 60 creating new cases

![errorhive_cortex](https://user-images.githubusercontent.com/10443

[2022-05-03 11:21] #31 closed

[2022-05-03 11:23] LetMeR00t commented on #32
Hi @BlueNG01,
Are you configuring the Splunk app directly to your TheHive instance ?
You have to know that TheHive must be using HTTPS and this is not offered by the product itself, it needs to be behind a proxy to be under HTTPS.
Without HTTPS, this application will not work unfortunately (it's a mandatory condition for Cloud applications)

[2022-05-04 13:17] BlueNG01 commented on #32
thank you for answering this message
no actually I'm testing but the hive and splunk are on two separated machines
so in order to work with ssl, have I to use something like a reverse proxy? (ngnix for example)

[2022-05-04 13:55] LetMeR00t commented on #32
Hi @BlueNG01 ,
Indeed, you have to use a reverse proxy between TheHive and Splunk that will handle the HTTPS

[2022-05-20 02:25] wolf0x opened #33 "[BUG] Failed to establish the connections to Thehive/Cortex"
I am sure that I created 2 accounts with correct APIKey in Thehive4 and Cortext, also created instance without HTTPS, but I always get errors on C26 and TH60.

Tried both 2.20 and 2.21, same results.

2022-05-20 10:04:48,885 DEBUG   common:185 - [S40] this instance id (b6ae4119) returns: authentication_type=api_key
2022-05-20 10:04:48,885 DEBUG   common:185 - [S40] this instance id (b6ae4119) retu

[2022-05-20 06:23] LetMeR00t commented on #32
Hi @BlueNG01 , I close this issue as it's not linked to an internal bug of this app.
Thank you

[2022-05-20 06:23] #32 closed

[2022-05-20 06:24] LetMeR00t commented on #33
Hi @wolf0x,
As mentionned here https://github.com/LetMeR00t/TA-thehive-cortex/issues/32, this application was designed to work only with HTTPS instances (as it's mandatory for Splunk Cloud).
I invite you to install a local proxy that will handle the HTTPS connection for TheHive.
Regards

[2022-05-24 11:43] Bamfax opened #34 "[BUG] |sendalert newline sequence replacing"
### Request Type
Bug

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       |  Linux
| TheHive version / git hash   |  Splunkbase release Version 2.2.1

### Problem Description
the modalert |sendalert is replacing linebreak sequences \r \n in such a fashion that it is difficult to get these characters across unmodified.

[2022-08-31 14:46] alirezaallahyaripour opened #35 "[FEATURE]"
### Request Type
Feature Request

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       | CentOS 7
| TheHive version / git hash   |  5

### Feature Description
I had a problem with integrating TheHive V5 to the Splunk app and I can't find the proper option.

### Possible Solutions
Since it's currently not supported by t

[2022-09-26 15:29] LetMeR00t commented on #35
Hi @alirezaallahyaripour,
A new release was published to manage TheHive v5.
Please let me know if you find any issue.
Thank you

[2022-09-26 15:29] #35 closed

[2022-10-20 09:39] mtGomez opened #36 "[Issue] Auth with TheHive ApiKey"
Hello there!

I open this thread because it seems to me that there is a problem in the configuration of the instances and the subsequent authentication via ApiKey with TheHive.

In the file in the following path: TA-thehive-cortex/bin/ta_thehive_cortex/aob_py3/thehive4py/api.py

In the check to know which authentication it is in front of, basic or api, (lines 75-78) it checks by means of an IF if

[2022-10-20 09:51] LetMeR00t commented on #36
Hi @mtGomez,
You're right, it's not so clear as we can expect.
The "password" field in Splunk is used to store the credential, whater is the password or the API key.
So if you are using an API key, put it in the "password" field of the account and by indicating in your instance that you are using an API key, it will interprete the account password as the API key and not the username password.
Hope

[2022-11-10 06:49] n1majne3 opened #37 "[FEATURE] Custom Fields creation on creating a new alert"
### Request Type
Feature Request

### Work Environment

| Question              | Answer
|---------------------------|--------------------
| OS version (server)       |RHEL7
| TheHive version / git hash   |  4.1.22-1

### Feature Description
It seems the alert creation can only create artifact, is that possible to create custom field as well? Thanks.

[2022-11-11 09:31] LetMeR00t commented on #37
Hello @n1majne3
Thank you for submitting your issue.
Can you develop a use case that you would like to have thanks to what you are asking to have more details ?
For me, custom fields can be already created when you create a new case in TheHive thanks to the application (there is a dedicated dashboard for it)
Thank you

[2022-11-12 08:40] remg427 commented on #37
Hello
If custom fields have been defined in lookup thehive_datatype.csv under field_type as customField, then any field present in the results will be attached to the alert as custom field and not as artifact.
Cheers
Rémi

Le 11 novembre 2022 10:31:40 GMT+01:00, LmR ***@***.***> a écrit :

--
Sent with K-9 Mail.

[2022-11-13 15:31] n1majne3 commented on #37
Hi @LetMeR00t

Said an alert from security onions or NGFW, there are some payloads like http header/body, they are not suitable for put in a artifact.